<div class="center">
<form action="/add" method="POST">
<label for="title">Título:</label>
<input type="text" name="title">
<label for="conteudo">Conteúdo:</label>
<textarea name="conteudo"></textarea><br>
<button type="submit" id="cad">Cadastrar</button>
</form>
<br>
<div class="btn-f">
    <a href="/"><button>Voltar</button></a>
</div>

</div>