<form action="/add" method="POST">
<h1>Postagem:</h1>
<input type="text" name="title">
<p>Conteúdo</p>
<textarea name="conteudo"></textarea>
<button type="submit">Cadastrar</button>
</form>
<style>
    h1{
        font-size: x-large;
    }
</style>